h1 {
    font-size: 3rem;
    text-align: center;
}

.cat {
    background-image: url(../images/ribs.jpg);
    width: 60%;
    padding: 250px;
    color: rgba(255, 255, 255, .75);
    background-size: cover;
    background-position: center;
}