* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Source Sans Pro', serif;
    font-size: 1rem;
    color: #4040408f;
    text-align: center;
}

img {
    width: 100%;
}

input,
button {
    display: block;
    margin: 0 auto .75em;
    padding: .45em 0;
    width: 80%;
    text-align: center;
    border-radius: .25rem;
}
/* typography */

h1 {
    font-size: 2.25rem;
    color: #fff;
    font-weight: 300;

}

h2 {
    font-size: 1.3125rem;
    color: #404040;
    margin-bottom: 0;
}

.subtitle {
    color: #F18119;
    text-transform: uppercase;
    letter-spacing: 0.5;
    font-weight: 900;
    margin-top: 0;
    font-size: 1.3125rem;
}
.title .subtitle{
    order: 2;
    margin: 0;
}

.main-title {
    order:1;
   margin:0;
}

.top-line {
    color:#F18119;
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight:900;
    letter-spacing: .7;
    order: -1;
    border-top-style: solid;
    border-top-width: 10px;
    border-image: linear-gradient(90deg, rgb(255,165,29), rgb(255,113,59)) 1;
    max-width: 161px;
    margin: 0 auto;
    padding-top: 3px;
}

.legal {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong {
    font-weight: 900;
}

.title {
    padding: 0 .5em 2em;
    justify-content: space-between;
    min-height: 50vh;
}

/* layout */

.container {
    display: flex;
    flex-direction: column;
}

.title {
    background-color:#404040;
    background-image: url(../images/ribs.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.form-box {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.form-text {
    margin-bottom: 2rem;
}

main .subtitle{
    margin-bottom: 2rem;
}

.btn {
    border:none;
    font-size: 0.625rem;
    text-transform: uppercase;
    padding: 0.5rem 0;
    letter-spacing: 1px;
    font-weight: 900;
    width: 100%;
    cursor: pointer;
    
}
.btn-gradient {
    background: linear-gradient(90deg, rgba(255,165,29,1) 0%, rgba(255,113,59,1) 100%);
    color: #fff;
    transform: scale(1);
    transition: 500ms ;
}
.btn-gradient:hover,
.btn-gradient:focus {
    color: black;
    transform: scale(1.2);
}

.container-title {
    display:flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

form {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
}
.input-box {
    width: 100%;
    border-color: #8a8a8a5b;
    font-family: inherit;
    transform: scale(1);
    transition: transform 500ms;
}

.input-box:focus {
    transform: scale(1.1)
}


/* max-width */
/* 
.title > * {
    max-width: 80%;
    margin: 0 auto;
}

.form-box > * {
    max-width: 65%;
    margin: 1em auto;
}

.input-box,
.btn {
    max-width: 55%; 
}*/

@media (min-width:768px) {
   
    body {
        font-size: 1.125rem;
    }

    h1{
        font-size: 3.5rem;
        margin-bottom: 5px;
    }

    h2,
    .join-box .subtitle {
        font-size: 1.75rem;
    }
    
    .container{
        flex-direction: row;
        min-height: 100vh;
    }

    .form-box {
        padding: 2em;
    }

    .form-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title {
        width: 60vw;
        min-height: 100vh;
        align-items: center;
    }

    .form-box {
        width: 40vw;
        min-height: 100vh;
    }

    .container-title {
        height: 100%;
    }
}