html{
    font-size: 0.9rem;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 ;
}

.container {
    max-width: 570px;
    margin: 0 auto;
    padding: 1rem;
}

img {
    max-width: 40%;
}

h1,
h2 {
    font-weight: 300; 
}

h1 {
    font-size: 3.75rem;
    margin-top: 0;
}

h2 {
    font-size: 2.625rem;
    margin-top: 0;
    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
    
    padding: 0.5em 0;
    margin-bottom: .5em;
}

h3 {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 0;
}

.accent-text {
    display: block;
}

h1 .accent-text {
    font-size: 5rem;
}

h2 .accent-text {
    font-size: 3.75rem;
}

.accent-text,
.name,
time {
    font-weight: 900;
    color: #99D930;
}

p {
    margin-bottom: 0;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #131313;
}

.small-text {
    font-size: 1rem;
    margin-top: .3125em;
} 

header,
section {
    padding: 2.25em 0;
}

.inverse {
    color: #fff;
    background: #252525;
}

.inverse .btn:hover,
.inverse .btn:focus {
    background: #fff;
    color: #252525;
}

.btn {
    display: inline-block;
    color: #252525;
    text-decoration: none;
    background: #99D930;
    padding: .625rem 1.5625rem;
    margin-top: 1.5625rem;
}

.btn:hover,
.btn:focus {
    background: #252525;
    color: #fff;
}

@media(min-width: 600px) {
    html {
        font-size: 1.3125rem;
    }

    .container {
        padding: 0;
    }
}

@media(min-width: 750px) {
    header {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .flexbox {
        display: flex;
        align-items: center;
    }

    .container{
        max-width: 100%
    }
    
    .about-me .container,
    .articles .container {
        padding: 1.5em;
    }

    .articles{
        background: #99D930;
        color: #252525;
    }

    .articles .container h2{
        border-color: currentColor;
    }

    .articles .container .accent-text,
    article p a,
    time,
    .name
    {
        color:currentColor;
    }
    
    article p a:hover{
        color: #fff;
    }

    .articles .btn {
        color:#fff;
        background:#252525;
    }

}
