body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', serif;
    font-size: 1.125rem;
    font-weight: 300;
}
img {
    max-width: 100%;
    display: block;
}

/* typography */


strong {
    font-weight: 700;
}

h1,
h2,
h3 {
    color: #143774;
    font-family: 'Lora', 'comic sans ms', serif;
    font-weight: 400;
    margin-top: 0;
}
h1 {
    font-size: 2rem;
    margin-top:0;
    margin-bottom:0;
    font-weight: 400;
}

/* h1 subtitle */

.article-title {
    font-size: 1.5rem;
}

.article-date-comments{
    color: #707070;
    font-size: 0.875rem;
    margin: 2em 0;
}


.article-read-more {
    color: #1792D2;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1rem 0 2rem;
    display:block;
    text-decoration: none;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

ul {
    list-style: none;
}

.text-link{
    color:#1792d2;
    font-weight: bolder;
}

.text-link:hover,
.text-link:focus{
    color:#143774;
    text-decoration: none;
}

#subtitle {
    color: #1792d2;
    font-weight: 700;
    font-size: .75rem;
    margin-top:0;
}

/*  layout */


.border-red {
    border: red solid 2px;
}

.container {
    margin: 0 auto;
}

.container-flex {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.article-featured {
    border-bottom:#70707070 solid 2px;
    margin-bottom: 2rem;
}

.article-featured img {
    width: 100%;
}

.article-recent {
    display: flex;
    flex-direction: column;
}

.article-txt {
    order: 2;
}

.article-img {
    order: 1;
}

.article-img img{
    width: 100%;
}

.post {
    width: 100%;
}

/* aside */

#sidebar {
    margin: 0 auto;
}

.sidebar-widget{
    border: 20px solid #EBEBEB;
    padding: 1em;
    margin-bottom: 3em;
    min-width: 200px;
}

.widget-title {
    text-transform: uppercase;
    font-family: 'Ubuntu', serif;
    letter-spacing: 3.6px;
    color: #143774;
    font-weight: 700;
    font-size: 1.25em;
}

.sidebar-recent-post {
    border-bottom: #70707070 solid 2px;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.sidebar-widget .lowest-post {
    border-bottom: none;
    margin: 0.5rem;
    padding-bottom: 0;
}

.widget-body{
    line-height: 1.5em;
    color: #143774;
}
.widget-image {
    margin-bottom: 1rem;
}

/* navbar */


header{
    background: #f8f8f8;
    text-align: center;
    margin-bottom: 2.5em;
}

#navbar-list {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    max-height: 80px;
    flex-direction: column;
}

.nav-links-item {
    margin-left: 2em;
    margin:0 1em;
    padding-top: .5em;
}

.active-link {
    border-bottom: 1px solid #707070;
}

.active-link:hover,
.active-link:focus {
    color: #707070;
    cursor: default;
}


nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover, 
nav a:focus {
    color:#1792d2;
}

/* footer */

footer {
    background:#143774;
    color: rgba(255, 255, 255, 0.795);
    text-align: center;
    height: 9%;
    padding: 2em 0;
}

.footer-p{
    margin:0;
    font-size: 0.875rem;
}


@media (min-width: 705px) {
    .container{
        padding: 2em;
        margin: 0 auto;
    }
    .container-flex{
        flex-direction: row;
    }

    #navbar-list{
        flex-direction: row;
    }

    main {
        width: 70%;
    }

    aside {
        width: 25%;
    }

    .article-recent {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .article-txt {
        width: 65%;
        margin-left: 2em;
    }

    .article-img {
        width: 30%
    }

    .article-featured {
        display:flex;
        flex-direction: column;
    }

    .article-featured img{
        order:-2;
    }

    .article-date-comments {
        order:-1;
    }

    .article-img img {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
        object-position: center;
    }
    .article-img #leaf-img {
        object-position: left;
    }

}